@tailwind base;

@tailwind components;

@tailwind utilities;


/************************************************************************************************************************************
/* PROJECT SPECIFIC */


    

/************************************************************************************************************************************
/* CUSTOM COMPONENTS */

.btn {
    @apply inline-flex items-center justify-center px-5 py-3 font-medium rounded-md text-indigo-600 hover:bg-indigo-50;
}

/************************************************************************************************************************************
/* BASE STYLES */


h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}