@tailwind base;

@tailwind components;

@tailwind utilities;


/************************************************************************************************************************************
/* PROJECT SPECIFIC */




/************************************************************************************************************************************
/* CUSTOM COMPONENTS AND CLASSES */

.btn {
    @apply inline-flex items-center justify-center px-5 py-3 font-medium rounded-md bg-primary hover:bg-primary-hov focus:outline-none;
}

.btn-block {
    @apply block w-full;
}

.card {
    @apply border border-gray-200 rounded-lg shadow-sm overflow-hidden;
}

.card-img {
    @apply w-full object-cover h-8;
}

/************************************************************************************************************************************
/* BASE STYLES */

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

p, small {
    @apply font-sans;
}

.display-1 {
    @apply text-9xl;   
}

.display-2 {
    @apply text-8xl;  
}

.display-3 {
    @apply text-7xl;   
}

.display-4 {
    @apply text-6xl;    
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

